<ul class="nav primary white-text justify-content-center">
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link">
			Gráfico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link active" href="/sistema/historico">
			Histórico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link" href="/sistema/carteira">
			Carteira
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link">
			Meus Dados
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link" href="/sistema/administracao">
			Administração
		</a>
	</li>


</ul>