<ul class="nav primary white-text justify-content-center">
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link">
			Gráfico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link active">
			Histórico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link">
			Carteira
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link">
			Meus Dados
		</a>
	</li>
</ul>