
<li>
	<a class="ajax-load" href="/sistema/">
		<i class="fas fa-home"></i> Inicio
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/configuracoes">
		<i class="fas fa-cogs"></i> Configurações
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/usuarios">
		<i class="fas fa-users"></i> Usuários
	</a>
</li>
<li>
	<a href="/logout">
		<i class="fas fa-sign-out-alt"></i> Sair
	</a>
</li>