<%- include('../../includes/menu_header'); %>
<div class="input-field col s12">
	<label class="gold-text" for="qtd_stable">Quantidade de Stable</label>
	<input class="validate border-gold border-radius-5 white-text" type="number" name="qtd_stable">
</div>