<div class="historico">
	<ul class="nav white-text justify-content-center sub_menu">
		<%
		if (typeof data.meses_com_caixa != 'undefined' && data.meses_com_caixa.length > 0) {
			for (var i = 0; i < data.meses_com_caixa.length; i++) { %>
			<li class="nav-item uppercase">
				<a class="ajax-load nav-link <%= data.meses_com_caixa[i].numero_mes == data.mes_atual_ativo[0].mes_atual_ativo ? 'active' : '' %>" href="sistema/historico/verHistoricoMes/<%= data.meses_com_caixa[i].numero_mes %>">
					<%= data.meses_com_caixa[i].nome_mes %>
				</a>
			</li>


			<%}
		}%>
	</ul>

	<div class="grey historico_saldo_final_mes w100 white-text text-center padding-20">
		R$ <span class="primary-text f40">10.000,00</span><br>
		<span class="grey-text uppercase">Saldo Final Julho</span>
	</div>

	<div class="historico_container">
		<div class="row green-text uppercase">
			<div class="col text-center">31</div>
			<div class="col text-center">Rendimento</div>
			<div class="col text-center">
				+ R$ 100,00 <i class="fas fa-sort-up f30"></i>
				<br><span class="white-text">Saldo Atual R$10.100,00</span></div>
			</div>
		</div>

		<div class="historico_botoes_container margin-b-10 margin-t-10">
			<div class="float-left">
				<div class="btn border_primary uppercase white-text">
					<span class="fa-stack">
						<i class="fas fa-square fa-stack-2x primary-text"></i>
						<i class="fas fa-bars fa-stack-1x black-text"></i>
					</span>			
					Gerar Relatório
				</div>
			</div>

			<div class="float-right margin-r-10">
				<div class="btn border_primary uppercase white-text margin-r-10">	
					Sacar
				</div>
				<div class="btn border_primary uppercase white-text">		
					Reaportar
				</div>
			</div>
		</div>



	</div>