
<%if(usuario.nivel == 1){ %>


<%if (typeof data.usuarios_admin != 'undefined' && data.usuarios_admin.length > 0){%>


<div class="modal-body text-center">
	<b><p class="text-center">Você tem certeza que deseja alterar a senha do <span class="primary-text"><%= data.usuarios_admin[0].nome %></span> ?</p></b>
</div>

<div class="modal-footer">

	<div class="row">
		<div class="col col-sm-5">
			<button type="button" class="btn grey white-text" data-dismiss="modal">Cancelar</button>
		</div>
		<div class="col col-sm-7">
			<form method="POST" action="">
				<input id="id" type="hidden" name="id" value="<%= data.usuarios_admin[0].id %>">

				<button class="btn w100 text-center primary ajax-submit" data-href="/sistema/administracao/usuarios/alterar-senha" data-dismiss="modal" data-mensagem-sucesso="Senha alterada com sucesso!" data-action="<%= data.link_sistema%>/administracao/usuarios/">Alterar Senha</button>
			</form>
		</div>
	</div>
</div>



<%}%>



<%}else{%>
<div class="modal-body text-center">
	<b><p class="text-center">Você não possui permissão para acessar esse conteúdo</p></b>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col col-sm-6">
			<button type="button" class="btn grey white-text" data-dismiss="modal">Cancelar</button>
		</div>
	</div>
</div>
<%}%>
