@font-face {
	font-family: almondia;
	src: url('/public/fonts/almondia-bold.OTF');
}

@font-face {
	font-family: almondia;
	font-style: italic;
	src: url('/public/fonts/almondia-bold-italic.OTF');
}



html{
	background:#000000;
	height: 100%;
	min-height: 100%;
	font-family: almondia;
	overflow: hidden;
}

main{
	position: relative;
}

.icon-box{
	width: 90%;
	margin: auto;
	box-sizing: content-box;
	padding: 15px 0;
	text-align: center;

	img{
		max-height: 320px;
		z-index: 2;
	}
}

.login .box {
	margin: auto;
	padding: 10px;
	box-sizing: content-box;

	.login-options a{
		text-decoration: none;
	}
}

.input-field input{
	background: transparent;
	border:none;
	color: #ffffff;
	border-radius: 0;
	border-bottom:0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
	transition: border .3s, -webkit-box-shadow .3s;
	transition: box-shadow .3s, border .3s;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.input-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
}

.input-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ffffff;
}

.input-field input::-ms-input-placeholder { /* Microsoft Edge */
	color: #ffffff;
}


.btn{
	border: none;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	cursor: pointer;
	outline: 0;
	border: none;
	border-radius: 2px;
	padding: 10px;
	&:hover,&:focus{
		background:#fff;
		color:#c3141b;
	};
}

.white-text{
	color: #fff;
}

.uppercase{
	text-transform: uppercase;
}

.center-align{
	text-align: center;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}

.margin-t-10n{
	margin-top:-10px;
}


.margin-t-20{
	margin-top:20px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.primary{
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.primary_line{
	height: 2px;
	width: 100%;
}


img {
	width: 100%;
	max-width: 450px;
}



@media (min-width: 960px) {
	.icon-box{
		width: 70%;
	}

	.login .box {
		width: 50%;
		padding: 20px;
	}
}


/*Bootstrap Modal*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.fade:not(.show) {
	opacity: 0;
}

.fade {
	transition: opacity 0.15s linear;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal.show .modal-dialog {
	transform: none;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;

	.close {
		padding: 1rem 1rem;
		margin: -1rem -1rem -1rem auto;
	}
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	appearance: none;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}

@media (min-width: 576px){
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: .5rem;
	pointer-events: none;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: .3rem;
	outline: 0;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: .3rem;
	border-bottom-left-radius: .3rem;
}

