@font-face {
	font-family: almondia;
	src: url('/public/fonts/almondia-bold.OTF');
}

@font-face {
	font-family: almondia;
	font-style: italic;
	src: url('/public/fonts/almondia-bold-italic.OTF');
}



html{
	background:#000000;
	height: 100%;
	min-height: 100%;
	font-family: almondia;
	overflow: hidden;
}

.icon-box{
	width: 90%;
	margin: auto;
	box-sizing: content-box;
	padding: 15px 0;
	text-align: center;

	img{
		max-height: 320px;
		z-index: 2;
	}
}

.login .box {
	margin: auto;
	padding: 10px;
	box-sizing: content-box;

	.login-options a{
		text-decoration: none;
	}
}

.input-field input{
	background: transparent;
	border:none;
	color: #ffffff;
	border-radius: 0;
	border-bottom:0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
	transition: border .3s, -webkit-box-shadow .3s;
	transition: box-shadow .3s, border .3s;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.input-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
}

.input-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ffffff;
}

.input-field input::-ms-input-placeholder { /* Microsoft Edge */
	color: #ffffff;
}


.btn{
	border: none;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	cursor: pointer;
	outline: 0;
	border: none;
	border-radius: 2px;
	padding: 10px;
	&:hover,&:focus{
		background:#fff;
		color:#c3141b;
	};
}

.white-text{
	color: #fff;
}

.uppercase{
	text-transform: uppercase;
}

.center-align{
	text-align: center;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}

.margin-t-10n{
	margin-top:-10px;
}


.margin-t-20{
	margin-top:20px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.primary{
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.primary_line{
	height: 2px;
	width: 100%;
}


img {
	width: 100%;
	max-width: 450px;
}



@media (min-width: 960px) {
	.icon-box{
		width: 70%;
	}

	.login .box {
		width: 50%;
		padding: 20px;
	}
}

