$primary-color:#f4811e;
$secondary-color:#ec1550;

html{
	background:#000000;
	height: 100%;
	min-height: 100%;
}

body{
	background:transparent;
	font-family:'Trebuchet MS';
}

.btn{
	&.primary{
		color: #ffffff;
		border:0;

		&:hover{
			background: #90060c;
			background: -moz-linear-gradient(45deg, #90060c 0%, #c10237 50%, #c15e08 100%);
			background: -webkit-linear-gradient(45deg, #90060c 0%,#c10237 50%,#c15e08 100%);
			background: linear-gradient(45deg, #90060c 0%,#c10237 50%,#c15e08 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90060c', endColorstr='#c15e08',GradientType=0 );
		}
	}

	&.secondary{
		color: #ffffff!important;

		&:hover{
			background:#ffffff;
			color: $secondary-color!important;
			.fas{
				color: $secondary-color!important;
			}
		}
	}

	&.black{
		border:1px solid $secondary-color;
		color: $secondary-color;
		&:hover{
			color: #ffffff;
			border:1px solid #ffffff;
		}
	}

	&.transparent-secondary{
		border:1px solid $secondary-color;
		cursor: pointer;

		&:hover{
			border:1px solid #fff;
			color: $secondary-color;
		}
	}




}





.primary{
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.secondary{
	background:$secondary-color;
}

.primary-text{
	color: $primary-color;
}

.secondary-text{
	color: $secondary-color;
}

.primary_line{
	height: 1px;
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.primary_line_vertical{
	width: 1px;
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.secondary_line_vertical{
	width: 1px;
	background: $secondary-color;
}

.border-top-primary{
	border-top:1px solid $primary-color;
}

.border-left-primary{
	border-left:1px solid $primary-color;
}

.border-bottom-primary{
	border-bottom:1px solid $primary-color;
}

.border-right-primary{
	border-right:1px solid $primary-color;
}

.border-2-right-primary{
	border-right:2px solid $primary-color;
}

.border_primary{
	border:1px solid $primary-color;
}

.border_secondary{
	border:1px solid $secondary-color;
}

.header-logo{
	width: 90%;
	margin: auto;
	box-sizing: content-box;
	padding: 15px 0;
	text-align: center;
	position: relative;
	img{
		max-height: 320px;
		z-index: 2;
		width: 100%;
		max-width: 450px;
	}
}

@mixin linha_underline_efeito{
	content:'';
	display: block;
	width: 100%;
	height: 2px;
}

.header-menu{
	.active::after{
		@include linha_underline_efeito;		
		background:#fff;
	}
	.nav-link{
		color: #ffffff;
		&:hover{
			color: $primary-color;
			&.active::after{
				background:#ffffff;
			}
		}
	}
}



.sub_menu{
	.active::after{
		@include linha_underline_efeito;
		background:$secondary-color;
	}

	.nav-link{
		color:#ffffff;

		&:hover{
			color: $primary-color;
			&.active::after{
				background:#ffffff;
			}
		}
	}

}


.table-full-width{
	display: block;
	overflow-x: auto;
}



/*DataTable Over*/
table.dataTable tbody tr{
	background:transparent;
}



.dataTables_filter,.dataTables_info{
	color:#ffffff!important;
}




a:hover{
	color: $primary-color;
}


/*Remover focus azul do chrome*/

/*Reset chrome*/
th:focus{
	outline: none;
}

input:focus{
	outline: none;
}


/*Bootstrap*/
.form-control{
	background:transparent;
	border:1px solid $secondary-color;
	color: #ffffff;
	border-radius:0.5rem;

	&:focus{
		background:transparent;
		color: #ffffff;
		border-color:$primary-color;
		box-shadow: none;
	}
}

select.form-control{
	background: #000000;
}

.form-control option{
	background:#000000;
	border-color:$primary-color;

	&:focus{
		outline: none;
	}
}

.tooltip-inner{
	background:#fff;
	color: #000000;
}


.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
	border-top-color: #ffffff;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #ffffff;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
	border-right-color: #ffffff;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
	border-left-color: #ffffff;
}

.datepicker table tr td.active.active{
	background:$primary-color;
}

.datepicker table tr td.active:hover.active{
	background:$secondary-color;
}



button:focus{
	outline: none;
}

/**/

.error{
	color: #ffffff;
	margin-top: 5px;
	border-radius: 5px;
	background:#ec3434;
}


// .loader {
// 	position: fixed;
// 	background-color: rgba(232, 232, 232, 0.59);
// 	width: 100%;
// 	height: 100%;
// 	z-index: 999;

// 	i{
// 		position: absolute;
// 		top: 50%; 
// 		left: 50%; 
// 		margin-top: -35px; 
// 		margin-left: -35px; 
// 	}
// }


.border-primary{
	border:1px solid $primary-color!important;
}

.border-secondary{
	border:1px solid $secondary-color!important;
}

.carteira_linha_dados_tipo{
	width: calc(100% - 200px);
}

.carteira_linha_preco{
	width: 200px;

	i{
		vertical-align: sub;
	}
}



.saque_caixa_input{
	width: 100%;

	label{
		text-align: center;
	}
}

.saque_caixa_limiter{
	width: 100%;
}


@media (min-width: 768px) { 
	.saque_caixa_input{
		width: 40%;

		label{
			text-align: right;
		}
	}

	.saque_caixa_limiter{
		width: 40%;
	}
}


#confirmar_saque .modal-content{
	border:0;
}