$primary-color:#f4811e;

html{
	background:#000000;
	height: 100%;
	min-height: 100%;
}

body{
	background:transparent;
}

.primary{
	background: #c3141b;
	background: -moz-linear-gradient(45deg, #c3141b 0%, #ec1550 50%, #f4811e 100%);
	background: -webkit-linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	background: linear-gradient(45deg, #c3141b 0%,#ec1550 50%,#f4811e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3141b', endColorstr='#f4811e',GradientType=1 );
}

.primary-text{
	color: $primary-color;
}

.primary_line{
	height: 2px;
	background:$primary-color;
}

.primary_line_vertical{
	width: 2px;
	background:$primary-color;
}

.border-top-primary{
	border-top:1px solid $primary-color;
}

.border-left-primary{
	border-left:1px solid $primary-color;
}

.border-bottom-primary{
	border-bottom:1px solid $primary-color;
}

.border-right-primary{
	border-right:1px solid $primary-color;
}

.border-2-right-primary{
	border-right:2px solid $primary-color;
}

.border_primary{
	border:1px solid $primary-color;
}


.header-logo{
	width: 90%;
	margin: auto;
	box-sizing: content-box;
	padding: 15px 0;
	text-align: center;

	img{
		max-height: 320px;
		z-index: 2;
		width: 100%;
		max-width: 450px;
	}
}

@mixin linha_underline_efeito{
	content:'';
	display: block;
	width: 100%;
	height: 2px;
}

.header-menu{
	.active::after{
		@include linha_underline_efeito;		
		background:#fff;
	}
}

.historico{
	.active::after{
		@include linha_underline_efeito;
		background:$primary-color;
	}

	.nav-link{
		color:#ffffff;

		&:hover{
			color: $primary-color;
			&.active::after{
				background:#ffffff;
			}
		}
	}

}