	<ul class="nav justify-content-center sub_menu">

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/upload-csv">
				Upload de Csv
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/usuarios">
				Usuários
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/pedidos-saques">
				Aprovação de Saques
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/pedidos-aportes">
				Aprovação de Aportes
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/caixa">
				Cadastro de Caixa
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="/sistema/administracao/planos">
				Cadastro de Planos
			</a>
		</li>


	</ul>