<div class="border-gold border-radius-5 margin-t-20 margin-b-10">
	<div class="f25 bold center-align white-text margin-t-10">Aprovação de Saque</div>
	<div class="center-align f15 light-font margin-t-5 gold-text">Quantidade de BTC que foi enviado.</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<input type="hidden" name="id" value="<%= data[0].id %>">
		<input type="hidden" name="status" value="Aprovado">
		
		<div class="center-align">
			<div class="col s12">
				<span class="gold-text">Qtd.Btc</span>
				<div class="input-field inline">
					<input name="qtd_btc" type="number" class="border-gold border-radius-5 white-text" required="true">
				</div>
			</div>
		</div>

		<div class="row uploads word-wrap">
			<div class="file-field input-field col s12">
				<div class="btn gold">
					<span>Anexar Comprovante</span>
					<input type="file" data-href="/sistema/administracao/uploadarquivo/pdf" id="arquivo" data-container="comprovante_container" class="arquivo_comprovante" accept="image/*,application/pdf">
				</div>
				<div class="file-path-wrapper hide">
					<input class="file-path validate" type="text" placeholder="Ou arraste seu arquivo aqui">
				</div>
			</div>

			<div class="col s12">
				<div class="comprovante_container">
				</div>
			</div>
		</div>

		<div class="center-align margin-t-10">
			<button data-href="/sistema/administracao/pedido-saque/confirmar" data-action="<%= data.link_sistema%>/administracao/pedidos-saques/" class="btn gold ajax-submit-update-mensagem margin-b-10" data-mensagem-sucesso="Aporte Aprovado com Sucesso!">
				Aprovar <i class="far fa-save-o" aria-hidden="true"></i>
			</button>
		</div>
	</form>

</div>

