<!DOCTYPE html>
<html>
<head>
	<title>Moon</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel='stylesheet' href="/public/stylesheets/stars.css"/>
	<link rel='stylesheet' href="/public/stylesheets/login.css"/>
	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/public/javascripts/login.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<body class="row">
	<main>
		<section>
			<div class="login">

				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 70px; right: 10px;">
					<div class="toast-body">
						Texto
					</div>
				</div>
				<form method="POST" action="/">
					<div class="icon-box">
						<img src="/public/images/logo.png">
					</div>
					<div class="box">
						<%
						if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						}
						%>
						<div class="input-field center-align">						
							<input type="text" name="email" id="login" class="validate" autocomplete="off" placeholder="E-MAIL">
							<div class="primary_line primary margin-t-10n"></div>
						</div>
						<div class="input-field center-align margin-t-20">					
							<input type="password" name="senha" id="senha" class="validate" autocomplete="off" placeholder="SENHA">
							<div class="primary_line primary margin-t-10n"></div>
						</div>
						
						<div class="right-align margin-t-20">
							<button class="primary btn white-text">
								ENTRAR
							</button>
						</div>

						<div class="login-options">
							<!-- 					<a class="uppercase white-text left margin-t-20" href="#">Não tenho cadastro</a> -->
							<a class="uppercase white-text right margin-t-20 pointer" data-toggle="modal" data-target="#modal_forgot_password">Esqueci minha senha</a>
						</div>

					</div>
				</form>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="modal_forgot_password" tabindex="-1" role="dialog"  aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						
						<div class="modal-header primary">
							<h5 class="modal-title uppercase">Esqueceu sua Senha?</h5>
							<button type="button" class="close pointer" data-dismiss="modal" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="recupera-senha" method="POST" action="" onsubmit="">
							<div class="modal-body">
								Não se preocupe, informe o seu e-mail no campo abaixo que será gerado uma nova senha de acesso.

								<div class="margin-t-10">
									<label class="secondary-text">E-mail</label>
									<input required="true" name="email" class="form-control" type="email">
								</div>

								<div class="error_container_resend hide">
									<div class="error_resend_mensagem"></div>
								</div>
								

							</div>
							<div class="modal-footer">
								<a class="btn_modal grey margin-r-10 pointer" data-dismiss="modal">Fechar</a>
								<button type="submit" class="btn_modal primary pointer resend-pass">Restaurar Senha</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>
