<!DOCTYPE html>
<html>
<head>
	<title>Moon</title>
	<link rel='stylesheet' href="/public/stylesheets/style.css"/>
 	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<script src="/public/javascripts/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body class="row">
	<main>
		<section>
			<div class="login">
				<form method="POST" action="/">
					<div class="icon center-align" style="padding: 15px 0;">
						<img style="max-height: 320px;" src="/public/images/logo.png">
					</div>
					<div class="box white arrow_box">
						<%
						if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						}
						%>
						<div class="input-field">
							<i class="fas fa-user prefix"></i>
							<input type="text" name="login" id="login" class="validate" autocomplete="off">
							<label for="login">Usuário</label>
						</div>
						<div class="input-field">
							<i class="fas fa-key prefix"></i>
							<input type="password" name="senha" id="senha" class="validate" autocomplete="off">
							<label for="senha">Senha</label>
						</div>
						<small><a href="#">Esqueceu sua senha?</a></small>
						<div class="center-align">
							<button class="btn-large blue darken-2 waves-effect waves-teal waves-light">
								Acessar
							</button>
						</div>
					</div>
				</form>
			</div>
		</section>
</main>
</body>
</html>
