<%
if (typeof data != 'undefined' && data.length > 0) {
  for (var i = data.length - 1; i >= 0; i--) {
%>
<div class="row">
  <div class="col s12 left-align">
    <div class="image-perfil" style="background-image: url(/assets/imagem_perfil/<%= data[i].imagem %>);"></div>
  </div>
  <div class="col s12 left-align" style="line-height: 2.7;">
    <span><b><%= data[i].nome %></b></span>
    <small class="grey-text text-lighten-3"><%= data[i].email %> </small>
    <span class="edit-button modal-mount" data-href="#modalinfo" data-link="/usuarios/editar/perfil/<%= data[i].id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
  </div>
</div>
<%
  }
}
%>
