<div class="float-left">
	<div class="btn border_secondary uppercase white-text">
		<span class="fa-stack">
			<i class="fas fa-square fa-stack-2x secondary-text"></i>
			<i class="fas fa-bars fa-stack-1x black-text"></i>
		</span>			
		Gerar Relatório
	</div>
</div>

<div class="float-right margin-r-10">
	<div class="btn border_secondary uppercase white-text margin-r-10">	
		Sacar
	</div>
	<div class="btn border_secondary uppercase white-text">		
		Reaportar
	</div>
</div>

